body {
  font-family: Helvetica, Arial;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.container {
  display: flex;
  align-items: center;
}

.game-container {
  display: inline-grid;
  grid-template-columns: 5rem 5rem 5rem;
  gap: 5px;
}

.game-div {
  background-color: black;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.black {
  background-color: black !important;
}

.winner {
  background-color: red;
}

.start-game-btn {
  margin-top: 1rem;
  border: 1px black solid;
  padding: 0.3rem 1rem;
  border-radius: 5px;
}
